src/biblioteca_esquema.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="biblioteca">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="nombre" type="xs:string"> </xs:element>
                <xs:element name="direccion" type="xs:string"></xs:element>
                <xs:element name="bibliotecario">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="nombre_apellidos" type="xs:string"></xs:element>
                            <xs:element name="fecha_nacimiento" type="xs:date"></xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="libros"  minOccurs="5" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="libro"></xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType> 
    </xs:element>
</xs:schema>